<div id="wrapper">
  <div id="container">
    <div id="Top" class="sideDivs contentdivs">
      <h1 class="display-4">Información de los roles</h1>
      <form>
        <div class="form-group">
          <input class="form-control" placeholder="Código Rol" />
          <!--<button class="btn"><i class="fas fa-search"></i></button>
  <button class="btn">Clear</button>-->
          <!--<br />-->
          <input class="form-control" placeholder="Nombre" />
          <!--<button class="btn"><i class="fas fa-search"></i></button>
  <button class="btn">Clear</button>-->
          <!--<input class="form-control" placeholder="Detalle" />-->
          <textarea class="form-control" rows="5" id="comment" placeholder="Detalle"></textarea>
          <!--<br />-->
          <button id="one" class="btn"><i class="fas fa-search"></i></button>
          <button class="btn">Clear</button>
          <button class="btn"><i class="fas fa-eraser"></i></button>
          <!--<input type="radio" />
          <label>Posee prefijo:</label>
          <input class="form-control" readonly />
          <br />
          <button id="btnClean" class="btn"> Limpiar información</button>-->
          <!--<button class="btn"><i class="fas fa-search"></i></button>-->


        </div>
      </form>

    </div>
    <div id="Bottom" class="sideDivs contentdivs">
      <h1 class="display-4">Solo búsqueda</h1>
      <form>
        <div class="form-group">
          <label>Código del rol</label>
          <input class="form-control" />
          <br />
          <label>Nombre del rol</label>
          <input class="form-control" />

        </div>
      </form>
    </div>
    <div id="Right" class="contentdivs">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre del rol</th>
            <th>Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1- A</td>
            <td>A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 2- A</td>
            <td>A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 3- A</td>
            <td>A</td>
            <td>A</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
