<div id="NavCol" class="col">
    <nav class="navbar-brand navbar-light">
        <h1 id="TitleH1">Dashboard</h1>
        <ul class="navbar-nav">
            <li *ngIf="!auth.loggedIn" routerLink="/inicio" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">{{ 'Inicio' | translate }}</a></span>
            </li>
            <li *ngIf="!auth.loggedIn" routerLink="/pagina-principal" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">{{ 'Proyectos' | translate }}</a></span>
            </li>
            <li *ngIf="!auth.loggedIn" routerLink="/rama-cientifica" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">{{ 'RamaCientifica' | translate }}</a></span>
            </li>
            <li *ngIf="!auth.loggedIn" routerLink="/tipo-consecutivo" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">{{ 'TiposConsecutivos' | translate }}</a></span>
            </li>
            <li *ngIf="!auth.loggedIn" routerLink="/consecutivo" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">{{ 'Consecutivos' | translate }}</a></span>
            </li>
            <li *ngIf="!auth.loggedIn" routerLink="/roles" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">{{ 'Roles' | translate }}</a></span>
            </li>
            <li *ngIf="!auth.loggedIn" routerLink="/puestos" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">{{ 'Puestos' | translate }}</a></span>
            </li>
            <li *ngIf="!auth.loggedIn" routerLink="/usuarios" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">{{ 'Usuarios' | translate }}</a></span>
            </li>
            <li *ngIf="!auth.loggedIn" routerLink="/bitacora" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">{{ 'Bitacora' | translate }}</a></span>
            </li>
            <li *ngIf="!auth.loggedIn" routerLink="/errores" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">{{ 'Errores' | translate }}</a></span>
            </li>
            <li *ngIf="!auth.loggedIn" routerLink="/bitacoras-experimentales" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">{{ 'BitacorasExperimentales' | translate }}</a></span>
            </li>
            <li *ngIf="auth.loggedIn" routerLink="/CompraProyectos" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">Ver los Proyectos Actuales para comprar</a></span>
            </li>
            <li *ngIf="auth.loggedIn" routerLink="/InsertarPaper" routerLinkActive="active" class="nav-item">
                <span><a class="nav-link">Insertar Paper</a></span>
            </li>
            <li>
                <select class="form-control col-md-10" #langSelect (change)="OnChange(langSelect.value)">
                  <option>--idioma--</option>
                  <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang" >{{ lang }}</option>
                </select>
            </li>
        </ul>
    </nav>
    <!-- <nav class="navbar-brand navbar-light">
        <h1 id="TitleH1" class="lead">Dashboard</h1>
        <ul class="navbar-nav">
            <li routerLink="/home" routerLinkActive="active" class="nav-item">
                <span>
                    <a class="nav-link">{{ 'Inicio' | translate }}</a>
                </span>
            </li>
            <li routerLink="/main" routerLinkActive="active" class="nav-item">
                <span>
                    <a class="nav-link">{{ 'Proyectos' | translate }}</a>
                </span>
            </li>
            <li routerLink="/rama_cientifica" routerLinkActive="active" class="nav-item">
                <span>
                    <a class="nav-link">{{ 'RamaCientifica' | translate }}</a>
                </span>
            </li>
            <li routerLink="/TiposConsecutivos" routerLinkActive="active" class="nav-item">
                <span>
                    <a class="nav-link">{{ 'TiposConsecutivos' | translate }}</a>
                </span>
            </li>
            <li routerLink="/consecutivos" routerLinkActive="active" class="nav-item">
                <span>
                    <a class="nav-link">{{ 'Consecutivos' | translate }}</a>
                </span>
            </li>
            <li routerLink="/roles" routerLinkActive="active" class="nav-item">
                <span>
                    <a class="nav-link">{{ 'Roles' | translate }}</a>
                </span>
            </li>
            <li routerLink="/puestos" routerLinkActive="active" class="nav-item">
                <span>
                    <a class="nav-link">{{ 'Puestos' | translate }}</a>
                </span>
            </li>
            <li routerLink="/usuarios" routerLinkActive="active" class="nav-item">
                <span>
                    <a class="nav-link">{{ 'Usuarios' | translate }}</a>
                </span>
            </li>
            <li routerLink="/bitacora" routerLinkActive="active" class="nav-item">
                <span>
                    <a class="nav-link">{{ 'Bitacora' | translate }}</a>
                </span>
            </li>
            <li routerLink="/errores" routerLinkActive="active" class="nav-item">
                <span>
                    <a class="nav-link">{{ 'Errores' | translate }}</a>
                </span>
            </li>
            <li routerLink="/bitacora_experimental" routerLinkActive="active" class="nav-item">
                <span>
                    <a style="font-size: 11pt" class="nav-link">{{ 'BitacorasExperimentales' | translate }}</a>
                </span>
            </li>
        </ul>
    </nav> -->
    <!-- Login Part. Descomntar para ver -->
    <!-- <div id="LoginDiv" class="jumbotron">
        <div class="col-md-6">
            <h1 class="display-4">Iniciar Sesión</h1>
            <hr>
            <form>
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn" (click)="ngOnInit()">Iniciar Sesión</button>
                </div>
            </form>
        </div>

    </div> -->
</div>