<div id="container" class="jumbotron">
  <div id="FormDiv" class="jumbotron">
    <img src="https://i.imgur.com/0xOvKKq.jpg"/>
    <div id="InfoDiv">
      <section id="TitleSection">
        <h1 class="lead">Nuevo usuario:</h1>
        <hr />
      </section>
      <section id="InfoSection">
        <br />
        <form>
          <div class="form-group">
            <label>Nombre</label>
            <input class="form-control" />
            <label>Nombre</label>
            <input class="form-control" />
            <label>Nombre</label>
            <input class="form-control" />
          </div>
          <button class="btn">Insertar</button>
          <button class="btn" >Cancelar</button>
        </form>
      </section>

    </div>
    <!--<div id="ImgDiv"></div>

  </div>-->
</div>
