@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

input {
    margin: 5px;
  margin-left: 5px;
  width: 25%;
  display: inline;
  z-index: 3;
}

.form-group {
    margin-top: 20px;
}

select {
  display: flex;
  margin-left: 0.1cm;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px red;
}

select:focus {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  box-shadow: none;
  border: solid 1px red;
}

select:active {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  box-shadow: none;
  border: solid 1px red;
}
