#container {
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  width: 100%;
  text-align: center;
}

.btn {
  padding: 5px;
}

.col-md-6 {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 100px;
  
  background: #cb2d3e;
  background: -webkit-linear-gradient(to left, #ef473a, #cb2d3e);
  background: linear-gradient(to left, #ef473a, #cb2d3e);
  text-align: center;
}