<div id="wrapper">
  <div id="container">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4 sectionTitle">Información</h1>
          <form [formGroup]="FormularioPuestos" (ngSubmit)="InsertarUnPuesto()">
            <div class="form-group">
              <label>Código</label>
              <input type="text" class="form-control" formControlName="bcPuestoId"/>
              <br />
              <label>Nombre</label>
              <input type="text" class="form-control" formControlName="detalle"/>
              <br />
              <label>Rol en el laboratorio</label>
              <select class="form-control col-md-6" style="margin-left: 4.1cm; background-color: black;" formControlName="bcRolId">
                <option *ngFor="let rolActual of ListaRolesCodigo" [ngValue]="rolActual.bcRolId">{{rolActual.bcRolId}}</option>
              </select>
              <br>
              
            </div>
            <button class="btn" style="width: 100%; margin-top: 5px" [disabled]="FormularioPuestos.invalid"><i class="fas fa-plus"></i></button>
          </form>
        </div>
        <div class="col">
          <h1 class="display-4 sectionTitle">Búsqueda</h1>
          <form [formGroup]="FomularioBusquedaPuesto" (ngSubmit)="BuscarUnPuesto()">
            <div class="form-group">
              <label>Nombre del puesto</label>
              <input type="text" class="form-control" formControlName="bcPuestoId"/>
              <button class="btn" [disabled]="FomularioBusquedaPuesto.invalid"><i class="fas fa-search" ></i></button>
              
            </div>
          </form>
          <button class="btn" (click)="BorrarUnPuesto()"><i class="fas fa-eraser"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col tables">
          <table class="table">
            <thead>
              <tr>
                <th>Código</th>
                <th>Detalle</th>
                <th>Rol</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let puestosInfo of ListaPuestos">
                <td>{{puestosInfo.bcPuestoId}}</td>
                <td>{{puestosInfo.detalle}}</td>
                <td>{{puestosInfo.bcRolId}}</td>
              </tr>5
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div id="wrapper"> 
  <div id="container">
    <div id="InfoLeft" class="tophalves">
      <h1 class="display-4">Información</h1>
      <form>
        <div class="form-group">
          <label>Código</label>
          <input class="form-control" />
          <label>Nombre</label>
          <input class="form-control" />
          <label>Rol</label>
          <input class="form-control" />
          <button class="btn" type="button">Buscar</button>
          <button class="btn" type="button">Buscar</button>
          <button class="btn" type="button">Buscar</button>
        </div>
      </form>
    </div>
    <div id="BusquedaRight" class="tophalves">
      <h1 class="display-4">Búsqueda</h1>
      <form>
        <div class="form-group">
          <label>Código</label>
          <input class="form-control" />
          <label>Nombre</label>
          <input class="form-control" />
          <button class="btn" type="button">Buscar</button>
          <button class="btn" type="button">Buscar</button>
          <button class="btn" type="button">Buscar</button>
        </div>
      </form>
    </div>
    <div id="contentdiv">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Detalle</th>
            <th>Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1- A</td>
            <td>A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 2- A</td>
            <td>A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 3- A</td>
            <td>A</td>
            <td>A</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->
