<div id="wrapper">
  <div id="container">
    <div class="container">
      <div class="row">
        <div class="col" style="border: none;">
          <div class="row">
            <div class="col">
              <h1 class="display-4 sectionTitle">Controles para la bitácora</h1>
              <form>
                <div class="form-group">
                  <label>Código del experimento</label>
                  <input type="text" class="form-control" />
                  <label>Nombre del experimento</label>
                  <input type="text" class="form-control" />
                </div>
              </form>
            </div>
            <div class="col">
              <h1 class="display-4 sectionTitle">Solo búsqueda</h1>
              <form>
                <div class="form-group">
                  <label>Código del experimento</label>
                  <input type="text" class="form-control" />
                  <label>Nombre del experimento</label>
                  <input type="text" class="form-control" />
                </div>
              </form>
            </div>

            <div class="col">
              <h1 class="display-4 sectionTitle">Asociar bitácora</h1>
              <form>
                <div class="form-group">
                  <label>Nombre del proyecto</label>
                  <input type="text" class="form-control" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="display-4 sectionTitle">Información</h1>
          <form>
            <div class="form-group">
              <label>Código experimento</label>
              <input type="text" class="form-control" />
              <label>Nombre usuario</label>
              <input type="text" class="form-control" />
              <label>Código proyect</label>
              <input type="text" class="form-control" />
              <label>Nombre proyecto</label>
              <input type="text" class="form-control" />
              <label>Fecha de realización</label>
              <input type="date" class="form-control" />
              <br />
              <textarea class="form-control"></textarea>
            </div>
          </form>
        </div>
        <div class="col">
          <h1 class="display-4 sectionTitle">Imágenes</h1>
          <img />
          <img />
          <img />
          <img />
          <img />
        </div>
        <div class="col" style="padding: 0; border: none;">
          <button class="btn" style="width: 100%; height: 100%;">Borrarsh</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="display-4 sectionTitle">Firmas</h1>
          <form>
            <div class="form-group">
              <label>Firma Responsable</label>
              <input type="text" class="form-control" style="width: 50%;"/>
              <br />
              <label>Firma Testigo</label>
              <input type="text" class="form-control" style="width: 50%;" />
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="display-4 sectionTitle">Detalles</h1>
          <div class="row">
            <div class="col tables" style="border: none;">
              <table class="table" style="margin-top: 15px;">
                <thead>
                  <tr>
                    <th>Código de la bitácora</th>
                    <th>Usuario</th>
                    <th>Nombre proyecto</th>
                    <th>Nombre del experimento</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Row 1- A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>Row 2- A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>Row 3- A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
