.sectionTitle {
    font-size: 13pt;
    top: -10px;
}

form {
    margin-top: 10px;
}

label {
    font-size: 12pt;
    width: 130px;
}

input {
    width: 47%;
}

img {
    width: 80px;
    height: 110px;
    margin: 5px;
    margin-top: 5px;
    border: none;
    background: #cb2d3e;
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
    background: linear-gradient(to right, #ef473a, #cb2d3e);  
}

textarea {
    margin-top: 5px;
    background-color: #2D3035;
    border: solid 1px;
    border-image-source: linear-gradient(-90deg, rgb(203,45,62), rgb(239,71,58));
    border-image-slice: 1;
    color: white;
}

textarea:focus {
    background-color: #2D3035;
    color: white;
}

/*img::after {
    position: absolute;
    z-index: 3;
    content: "abc";
    width: 10px;
    height: 10px;
    background-color: teal;
}*/
