<div id="wrapper">
  <div id="container">
    <div id="header">
      <div id="SearchLeft" class="searchbars">
        <h1 class="display-4">Solo búsqueda</h1>
        <form>
          <div class="form-group">
            <input class="form-control" placeholder="Codigo del tipo consecutivo" />
            <button class="btn"><i class="fas fa-search"></i></button>
            <input class="form-control" placeholder="Nombre del tipo consecutivo" />
            <button class="btn">Cancel</button>
            <br />
          </div>
        </form>
      </div>
      <div id="SearchRight" class="searchbars">
        <form>
          <div class="form-group">
            <input class="form-control" placeholder="Codigo del tipo consecutivo" />
            <!--<button class="btn"><i class="fas fa-search"></i></button>-->
            <button class="btn">Cancel</button><button class="btn">Cancel</button>
            <br />
          </div>
        </form>
      </div>
    </div>
    <div id="content">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1- A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 2- A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 3- A</td>
            <td>A</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
