<div id="PaginaPrincipDiv" class="row contentcols">
    <div id="AppNavCol" class="col-md-2">
        <app-navigation-menu></app-navigation-menu>
    </div>
    <div class="col-md-10">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="sectionTitle">{{ 'Proyectos' | translate }}</h1>
                    <div class="content-div" style="padding: 10px">
                         
                            <div class="form-group" style="text-align: center;">
                                <input type="checkbox" class="form control">
                                <label for="" class="form-label">{{ 'ConsultaPorFecha' | translate }}</label>
                                <input type="checkbox" class="form control">
                                <label for="" class="form-label">{{ 'ConsultaGeneral' | translate }}</label>
                                <input type="checkbox" class="form control">
                                <label for="" class="form-label">{{ 'ConsultaPorUsuario' | translate }}</label>
                            </div>
                            <div class="form-group" style="text-align: center;">
                                <label for="" class="form-label" style="width: 150px;">{{ 'FechaInicial' | translate }}</label>
                                <input type="date" class="form control">
                                <label for="" class="form-label" style="width: 150px;">{{ 'FechaFinal' | translate }}</label>
                                <input type="date" class="form control">
                            </div> 
                            <div class="form-group" style="text-align: center;">
                                <button class="btn">{{ 'btnAñadir' | translate }}</button>
                                <button class="btn">{{ 'btnBorrar' | translate }}</button>
                            </div>                        
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <h1 class="sectionTitle">{{ 'Informacion' | translate }}</h1>
                    <div class="content-div">
                        <div class="col-sm-12 tables">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{ 'CodigoRegistro' | translate }}</th>
                                        <th>{{ 'Codigo' | translate }}</th>
                                        <th>{{ 'Usuarios' | translate }}</th>
                                        <th>{{ 'FechayHora' | translate }}</th>
                                        <th>{{ 'Descripcion' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>A</td>
                                        <td>A</td>
                                        <td>A</td>
                                        <td>A</td>
                                        <td>A</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6 tables">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>