<div id="PaginaPrincipDiv" class="row contentcols">
    <div id="AppNavCol" class="col-md-2">
        <app-navigation-menu></app-navigation-menu>
    </div>
    <div class="col-md-10">
        <div class="col-md-12">
            <div class="row">

                
                <div class="col-lg-12">
                    <h1 class="sectionTitle">{{ 'Información' | translate }}</h1>
                    <div class="content-div">
                        <div class="col-sm-12 tables">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Rama Cientifica</th>
                                        <th>Nombre del Proyecto</th>
                                        <th>Autor del Proyecto</th>
                                        <th>Precio</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Biologia</td>
                                        <td>Vacuna Covid 19</td>
                                        <td>Organizacion Mundial de la salud</td>
                                        <td>1500$</td>
                                        <button class="btn btn-outline-success">Comprar</button>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>