<div id="wrapper">
  <div id="container">
    <div class="contentdiv LeftSide">
      <h1 class="display-4">Información del consecutivo</h1>
      <form>
        <div class="form-group">
          <section>
            <label>Tipo de consecutivo</label>
            <div class="input-group opts">
              <select class="custom-select" id="inputGroupSelect01">
                <option selected><span>Proyectos</span></option>
                <option value="1"><span>One</span></option>
                <option value="2"><span>Two</span></option>
                <option value="3"><span>Three</span></option>
              </select>
            </div>
          </section>
          <!--<br />-->
          <section>
            <label>Descripción</label>
            <input class="form-control opts" placeholder="AAA" />
          </section>
          <!--<br />-->
          <section>
            <label>Valor consecutivo</label>
            <input class="form-control opts" placeholder="AAA" />
          </section>
        </div>
      </form>
    </div>
    <div id="RightSide" class="contentdiv">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Valor</th>
            <th>Prefijo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1-A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 2-A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 3-A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="Bottom" class="contentdiv LeftSide">
      <h1>Solo Búsqueda</h1>
      <form>
        <div id="form-group">
          <label>Código del tipo de consecutivo</label>
          <input class="form-control" />
          <!--<br />-->
          <label>Nombre del tipo de consecutivo</label>
          <input class="form-control" />
        </div>
      </form>
    </div>

  </div>
</div>
