<div id="wrapper">
  <div id="container">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4 sectionTitle">Información</h1>
          <form>
            <div class="form-group">
              <label>Código</label>
              <input type="text" class="form-control" placeholder="Código" readonly/>
              <button class="btn" data-toggle="tooltip" data-placement="right" title="Buscar"><i class="fas fa-search"></i></button>
              <br />
              <label>Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre" />
              <button class="btn" data-toggle="tooltip" data-placement="right" title="Borrar"><i class="fas fa-eraser"></i></button>
            </div>
          </form>
        </div>
        <div class="col">
          <h1 class="display-4 sectionTitle">Búsqueda</h1>
          <form>
            <div class="form-group">
              <label>Código</label>
              <input type="text" class="form-control" placeholder="Código" />
              <button class="btn" data-toggle="tooltip" data-placement="right" title="Buscar"><i class="fas fa-search"></i></button>
              <br />
              <label>Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre" />
              <button class="btn" data-toggle="tooltip" data-placement="right" title="Borrar"><i class="fas fa-eraser"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="row content">
        <div class="col tables">
          <table class="table">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Row 1- A</td>
                <td>A</td>
              </tr>
              <tr>
                <td>Row 2- A</td>
                <td>A</td>
              </tr>
              <tr>
                <td>Row 3- A</td>
                <td>A</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="col">
        <h1 class="display-4 sectionTitle">Title</h1>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Código" />
            <button class="btn">AAA</button>
            <br />
            <input type="text" class="form-control" placeholder="Nombre" />
            <button class="btn">ABC</button>

          </div>
        </form>
      </div>
    </div>-->
  </div>
</div>

<!--<div id="wrapper">
  <div id="container">
    <div id="header">
      <div id="SearchbarLeft" class="searchbars">
        <form>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Código" />
            <button class="btn" data-toggle="tooltip" data-placement="right" title="Buscar"><span><i class="fas fa-search"></i></span></button>
            <input class="form-control" type="text" placeholder="Nombre" />
            <button class="btn"><span>Clear</span></button>
          </div>
        </form>
    </div>
    <div id="SearchbarRight" class="searchbars">
      <form>
        <div class="form-group">
          <input class="form-control" placeholder="Código" />
          <button class="btn" data-toggle="tooltip" data-placement="right" title="Buscar"><i class="fas fa-search"></i></button>
          <input class="form-control" placeholder="Nombre" />
          <button class="btn">Clear</button>
        </div>
      </form>
    </div>
    </div>
    <div id="content">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1- A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 2- A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 3- A</td>
            <td>A</td>
          </tr>
        </tbody>

      </table>

    </div>
  </div>
</div>-->


<!--<div id="SearchBar" class="navsearch">
  <h1 class="display-4">Información de la Rama Científica</h1>
  <nav id="NavSearchBar" class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2 seachinput" type="search" placeholder="Código" aria-label="Search">
      <br />
      <input id="NameSearch" class="form-control mr-sm-2 seachinput" type="search" placeholder="Nombre" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      <button id="btnClear" class="btn">Clear</button>
    </form>
  </nav>
</div>
<div id="SecondSearchBar">
  <h1 class="display-4">Solo búsqueda</h1>
  <br />
  <form>
    <div class="form-group">
      <input type="text" class="form-control" />
      <input type="text" class="form-control"/>
    </div>
  </form>

</div>
<div id="SearchContent">
  <div id="ContentDiv">
    <table class="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Proyecto</th>
        </tr>
      </thead>
    </table>
  </div>
  <div id="FuctionDiv">

  </div>
</div>-->
