#userbar .lead
{
    color: white;
}

ul
{
    height: 100%;
}

li
{
    float: right;
    /*background-color: red;*/
    /*border: solid 1px cyan;*/
    height: 100%;
    margin-right: 2px;
    list-style: none;
    width: 105px;
    text-align: center;
}

li h1
{
    line-height: 35px;
}

.fa-user-circle
{
    margin-left: 10px;
}
