<div id="PaginaPrincipDiv" class="row contentcols">
    <div id="AppNavCol" class="col-md-2">
        <app-navigation-menu></app-navigation-menu>
    </div>
    <div class="col-md-10">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="sectionTitle">{{ 'DatosPersonales' | translate }}</h1>
                    <div class="content-div">
                        
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'Codigo' | translate }}</label>
                                <input type="text" class="form control" readonly>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'Nombre' | translate }}</label>
                                <input type="text" class="form control">
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'PrimerApellido' | translate }}</label>
                                <input type="text" class="form control">
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'SegundoApellido' | translate }}</label>
                                <input type="text" class="form control">
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'Telefono' | translate }}</label>
                                <input type="tel" class="form control">
                            </div>
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="sectionTitle">{{ 'DatosTecnicos' | translate }}</h1>
                    <div class="content-div">
                      
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'Login' | translate }}</label>
                                <input type="text" class="form control">
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'Contraseña' | translate }}</label>
                                <input type="text" class="form control">
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'ConfirmarContraseña' | translate }}</label>
                                <input type="text" class="form control">
                            </div>
                            <div class="form-group">
                                <input type="checkbox" class="form control">
                                <label for="" class="form-label">{{ 'CambioContraseña' | translate }}</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6" style="margin-left: 25%; margin-right: 25%;">
                                    <button class="btn">{{ 'Ingresar' | translate }}</button>
                                    <button class="btn">{{ 'Cancelar' | translate }}</button>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-12" style="margin-bottom: 20px;">
                    <h1 class="sectionTitle">{{ 'PrivilegiosSistema' | translate }}</h1>
                    <div class="content-div">
                       
                            <div class="form-group">
                                <div class="col-md-8" style="margin: 20px; margin-left: 15%;">
                                    <input type="checkbox" class="form control">
                                    <label for="" class="form-label" style="width: 300px;">{{ 'AdminSistema' | translate }}</label>
                                    <input type="checkbox" class="form control">
                                    <label for="" class="form-label" style="width: 300px;">{{ 'AdminSeguridad' | translate }}</label>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="content-div">
                        <div class="col-lg-12" style="text-align: center; margin-top: 20px;">
                          
                                <div class="form-group">
                                    <label for="" class="form-label" style="width: 185px;">{{ 'NivelAcademico' | translate }}</label>
                                    <select class="form-control col-md-3 formSelector" style="margin-right: 30px;">
                                        <!-- <option *ngFor="let ramasActuales of ListaRamasCientificas" [ngValue]="ramasActuales.bcRamaCientificaId">{{ramasActuales.bcRamaCientificaId}}</option> -->
                                    </select>
    
                                    <label for="" class="form-label" style="width: 80px;">{{ 'Puestos' | translate }}</label>
                                    <select class="form-control col-md-3 formSelector" >
                                        <!-- <option *ngFor="let ramasActuales of ListaRamasCientificas" [ngValue]="ramasActuales.bcRamaCientificaId">{{ramasActuales.bcRamaCientificaId}}</option> -->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="" class="form-label" style="width: 185px;">{{ 'CargarFirma' | translate }}</label>
                                    <input type="text" class="form control">
                                </div>
                                <div class="form-group">
                                    <label for="" class="form-label" style="width: 185px;">{{ 'CargarFoto' | translate }}</label>
                                    <input type="text" class="form control">
                                </div>
                                <div class="col-md-12">
                                    <img>
                                    <img>
                                </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h1 class="sectionTitle">{{ 'Busqueda' | translate }}</h1>
                    <div class="content-div">
                       
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'CodigodelUsuario' | translate }}</label>
                                <input type="text" class="form control">
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'NombreUsuario' | translate }}</label>
                                <input type="text" class="form control">
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <h1 class="sectionTitle">{{ 'Busqueda' | translate }}</h1>
                    <div class="content-div">
                       
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'Apodo' | translate }}</label>
                                <input type="text" class="form control">
                            </div>
                            <div class="form-group">
                                <input type="checkbox" class="form control">
                                <label for="" class="form-label">{{ 'Privilegios' | translate }}</label>
                            </div>
                       
                
                    </div>
                </div>
                <div class="col-lg-12">
                    <h1 class="sectionTitle">{{ 'Informacion' | translate }}</h1>
                    <div class="content-div">
                        <div class="col-sm-12 tables">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{ 'Codigo' | translate }}</th>
                                        <th>{{ 'Nombre' | translate }}</th>
                                        <th>{{ 'PrimerApellido' | translate }}</th>
                                        <th>{{ 'SegundoApellido' | translate }}</th>
                                        <th>{{ 'Login' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>A</td>
                                        <td>A</td>
                                        <td>A</td>
                                        <td>A</td>
                                        <td>A</td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="content-div" style="padding: 20px;">
                        <button routerLink="/nivel-academico" routerLinkActive="active" class="btn" style="width: 100%;">{{ 'NivelAcademico' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="form-group">
                                <button class="btn">Add</button>
                                <button class="btn">Delete</button>
                            </div>    -->