<div id="PaginaPrincipDiv" class="row contentcols">
    <div id="AppNavCol" class="col-md-2">
        <app-navigation-menu></app-navigation-menu>
    </div>
    <div class="col-md-10">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="sectionTitle">{{ 'Busqueda' | translate }}</h1>
                    <div class="content-div">
                       
                        <form [formGroup]="FomularioTipoConsecutivo" (ngSubmit)="InsertarTipoConsecutivo()">
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'Codigo' | translate }}</label>
                                <input type="text" class="form control" readonly value="Auto Generado">
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">{{ 'Nombre' | translate }}</label>
                                <input type="text" class="form control" formControlName="DescripcionConsecutivo">
                            </div>
                            <div class="form-group">
                                <button class="btn" type="submit" [disabled]="FomularioTipoConsecutivo.invalid">{{ 'btnAñadir' | translate }}</button>
                                
                            </div>       
                        </form>

                                             
                      
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="sectionTitle">{{ 'Busqueda' | translate }}</h1>
                    <div class="content-div">
                        
                        <form [formGroup]="FormularioBorraTipoConsecutivo" (ngSubmit)="BorrarTipoConsecutivo()">
                            <div class="form-group">
                                <label  class="form-label">{{ 'Codigo' | translate }}</label>
                                <input type="text" class="form control" formControlName="bcTipoConsecutivoId">
                                <button class="btn" type="submit" [disabled]="FormularioBorraTipoConsecutivo.invalid">{{ 'btnBorrar' | translate }}</button>
                            </div>    
                        </form>
                                          
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <h1 class="sectionTitle">{{ 'Información' | translate }}</h1>
                    <div id="tablecontent" class="content-div">
                        <div class="col-sm-12 tables">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{ 'Codigo' | translate }}</th>
                                        <th>{{ 'Descripcion' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tipoLista of ListaTiposConsecutivos">
                                        <td>{{ tipoLista.bcTipoConsecutivoId }}</td>
                                        <td>{{ tipoLista.descripcion }}</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>