<div id="wrapper">
  <div id="container">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4 sectionTitle">{{ 'AgregarRamaCientifica' | translate }}</h1>
          <form [formGroup]="FormularioRamasCientificas" (ngSubmit)="InsertRamaCientifica()">
            <div class="form-group">
              <label>{{ 'Codigo' | translate }}</label>
              <input type="text" class="form-control" formControlName="codigoRama"/>
              <br />
              <label>{{ 'Nombre' | translate }}</label>
              <input type="text" class="form-control" formControlName="nombreRama"/>
              <button class="btn" data-toggle="tooltip" data-placement="right" title="Insertar" [disabled]="FormularioRamasCientificas.invalid"><i class="fas fa-plus"></i></button>
            </div>
          </form>
        </div>
        <div class="col">
          <h1 class="display-4 sectionTitle">{{ 'BuscarRama' | translate }}</h1>
          <form [formGroup]="FormularioBuscador" (ngSubmit)="BuscarRamaCientifica()">
            <div class="form-group">
              <label>{{ 'Codigo' | translate }}</label>
              <input type="text" class="form-control" formControlName="SearchcodigoRama" />
              <button class="btn" data-toggle="tooltip" data-placement="right" title="Buscar" [disabled]="FormularioBuscador.invalid"><i class="fas fa-search"></i></button>
              <br />
              
            </div>
          </form>
        </div>
      </div>
      <div class="row content">
        <div class="col tables">
          <table class="table">
            <thead>
              <tr>
                <th>{{ 'Codigo' | translate }}</th>
                <th>{{ 'Nombre' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ramasCientificas of ListaRamasCientificas">
                <td>{{ramasCientificas.bcRamaCientificaId}}</td>
                <td>{{ramasCientificas.nombre}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

