<div id="wrapper">
  <div id="container">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4 sectionTitle">Agregar Rama Cientifica</h1>
          <form [formGroup]="FormularioRamasCientificas" (ngSubmit)="InsertRamaCientifica()">
            <div class="form-group">
              <label>Código</label>
              <input type="text" class="form-control" placeholder="Código" formControlName="codigoRama"/>
              <br />
              <label>Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre" formControlName="nombreRama"/>
              <button class="btn" data-toggle="tooltip" data-placement="right" title="Insertar" [disabled]="FormularioRamasCientificas.invalid"><i class="fas fa-plus"></i></button>
            </div>
          </form>
        </div>
        <div class="col">
          <h1 class="display-4 sectionTitle">Buscar Rama</h1>
          <form [formGroup]="FormularioBuscador" (ngSubmit)="BuscarRamaCientifica()">
            <div class="form-group">
              <label>Código</label>
              <input type="text" class="form-control" placeholder="Código" formControlName="SearchcodigoRama" />
              <button class="btn" data-toggle="tooltip" data-placement="right" title="Buscar" [disabled]="FormularioBuscador.invalid"><i class="fas fa-search"></i></button>
              <br />
              
            </div>
          </form>
        </div>
      </div>
      <div class="row content">
        <div class="col tables">
          <table class="table">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ramasCientificas of ListaRamasCientificas">
                <td>{{ramasCientificas.bcRamaCientificaId}}</td>
                <td>{{ramasCientificas.nombre}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

