<div id="wrapper">
    <div id="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="display-4 sectionTitle">{{ 'Informacion' | translate }}</div>
                    <form [formGroup]="FormularioAddNivelAcademico" (ngSubmit)="InsertarUnNivelAcademico()">
                        <div class="form-group">
                            <label>{{ 'Codigo' | translate }}</label>
                            <input type="text" class="form-control" formControlName="bcNivelAcademicoId">
                            <br>
                            <label>{{ 'Detalle' | translate }}</label>
                            <input type="text" class="form-control" formControlName="nombre">
                            <br>
                            <label>{{ 'NivelAcademico' | translate }}</label>
                            <input type="text" class="form-control" formControlName="detalle">
                            <br>
                            <button type="submit" class="btn" [disabled]="FormularioAddNivelAcademico.invalid">{{ 'btnAñadir' | translate }}</button>
                            <button type="button" class="btn" (click)="BorrarUnNivelAcademico()">{{ 'btnBorrar' | translate }}</button>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <div class="display-4 sectionTitle">{{ 'Busqueda' | translate }}</div>
                    <form [formGroup]="FomularioBusquedaNivelAcademico" (ngSubmit)="BuscarUnNivelAcademico()">
                        <div class="form-group">
                            <label>{{ 'Codigo' | translate }}</label>
                            <input type="text" class="form-control" formControlName="bcNivelAcademicoId">
                            <br>
                            <button type="submit" class="btn" [disabled]="FomularioBusquedaNivelAcademico.invalid">{{ 'Busqueda' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row content">
                <div class="col tables">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>{{ 'Codigo' | translate }}</th>
                        <th>{{ 'NivelAcademico' | translate }}</th>
                        <th>{{ 'Detalle' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let nivelesAcademicos of ListaNivelesAcademicos">
                        <td>{{nivelesAcademicos.bcNivelAcademicoId}}</td>
                        <td>{{nivelesAcademicos.nombre}}</td>
                        <td>{{nivelesAcademicos.detalle}}</td>
                      </tr>
                    
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>
</div>