<div id="wrapper">
  <div id="container">
    <div class="cotainer">
      <div class="row">
        <div class="col">
          <h1 class="display-4 sectionTitle">Información</h1>
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col contentCol">
                  <input type="checkbox" />
                  <label style="width: 210px">Consultar por rango de fecha</label>
                </div>
                <div class="col contentCol">
                  <input type="checkbox" />
                  <label>Consultar general</label>
                </div>
                <div class="col contentCol">
                  <input type="checkbox" />
                  <label>Consultar por usuario</label>
                </div>
              </div>
              <div class="row">
                <div class="col contentCol">
                  <label>Fecha inicial</label>
                  <input type="date" class="form-control" />
                </div>
                <div class="col contentCol">
                  <label>Fecha final</label>
                  <input type="date" class="form-control" />
                </div>
              </div>
              <div class="row">
                <div class="col contentCol">
                  <label>Usuario</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <button class="btn">Buscar</button>
              <button class="btn">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col tables">
          <h1 class="display-4 sectionTitle">Despliegue</h1>
          <table class="table" style="margin-top: 15px;">
            <thead>
              <tr>
                <th>Código del registro</th>
                <th>Usuario</th>
                <th>Fecha y hora</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Row 1- A</td>
                <td>A</td>
                <td>A</td>
                <td>A</td>
              </tr>
              <tr>
                <td>Row 2- A</td>
                <td>A</td>
                <td>A</td>
                <td>A</td>
              </tr>
              <tr>
                <td>Row 3- A</td>
                <td>A</td>
                <td>A</td>
                <td>A</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
