@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#wrapper
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 120vh;
    /*top: 0;*/
    z-index: -1;
    margin-bottom: 0;
    border-radius: 0;
    background-color: whitesmoke;
}

#LoginPanel
{
    background-color: whitesmoke;
    border: solid 3px #202833;
    margin-top: 5%;
    margin-bottom: 15%;
    height: 60%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    -webkit-box-shadow: 11px 7px 31px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 7px 31px 2px rgba(0,0,0,0.75);
box-shadow: 11px 7px 31px 2px rgba(0,0,0,0.75);
}

#LoginPanel h1
{
    text-align: center;
    color: #202833;
}

label
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.form-control
{
    background-color: whitesmoke;
    border: none;
    color: #202833;
    font-size: 12pt;
    border-bottom: solid 2px #202833;
}

.form-control:focus
{
    outline: none;
    box-shadow: none;
}

.fas
{
    margin-right: 10px;
}

button
{
    position: relative;
    /*width: 15px;*/
    background-color: #202833;
    margin: 5px;
    left: 40%;
    color: whitesmoke;
}

button span
{
    max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;

}

button:hover
{
    color: whitesmoke;
}

button:hover span
{
    max-width: 7rem;
    color: whitesmoke;
}