@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.searchbars {
  border: solid 1px #C7C8C3;
  height: 150px;
  float: left;
  /*margin-left: 20px;
  margin-top: 20px;*/
}

#container
{
    padding: 0;
}

#SearchbarLeft {
  width: 50%;
  margin-right: 15px;
}

#SearchbarRight {
    width: 45%;
}

form {
  padding: 20px;
  height: 100%;
}

.form-group {
  display: inline-block;
}

/*Btn*/

input {
  background-color: #2D3035;
  border: none;
  border-bottom: solid 1px #EF473A;
  display: inline;
  width: 50%;
  color: #EF473A;
  margin-left: 5px;
  margin-right: 5px;
}

input:focus
{
    box-shadow: none;
    background-color: #2D3035;
}

input::placeholder
{
    color: #EF473A;
}

button {
  width: 75px;
  color: white;
  background: #cb2d3e;
  background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
  background: linear-gradient(to right, #ef473a, #cb2d3e);
  position: absolute;
  border: none;
  z-index: 3;
}


/*span::after {
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #cb2d3e;
  background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
  background: linear-gradient(to right, #ef473a, #cb2d3e);
  content: '';
  position: absolute;
  z-index: -1;
  transition: width 300ms;
}

button:hover span:after
{
    width: 100%;
}*/

/*#SrchBtn::after
{
    top: 500px;
}*/


/*#wrapper {
  position: absolute;
  left: 0;
  border-radius: 0;
  background-color: red;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

#SearchBar {
  border: solid 2px #46A29F;
  width: 50%;
  float: left;
  height: 170px;
}

#SecondSearchBar
{
    border-top: solid 2px #46A29F;
    border-bottom: solid 2px #46A29F;
    border-right: solid 2px #46A29F;
    border-left: none;
    float: left;
    width: 50%;
    height: 170px;

}

h1
{
    position: absolute;
    font-size: 16pt;
    padding-left: 5px;
    padding-right: 5px;
}

#SearchBar h1 {
    left: 75px;
    top: 49px;
    position: absolute;
    background-color: whitesmoke;
}

#SecondSearchBar h1
{
    background-color: whitesmoke;
    top: 49px;
    margin-left: 40px;
}

#NavSearchBar {
  z-index: 0;
  background-color: whitesmoke !important;
  position: relative;
  top: 30px;
}

.outsidebtn {
  position: absolute;
  color: red;
  border: solid 1px #46A29F;
  color: #46A29F;
  z-index: 2;
}

#btnClear {
  border: solid 1px #202833;
  margin-left: 5px;
  color: #202833;
}

  #btnClear:hover {
    background-color: #202833;
    color: white;
  }

#SearchContent {
  margin-top: 180px;
  height: 75%;
  border: solid 2px #26C465;
}

#ContentDiv {
  border-right: solid 2px #C5C6C8;
  height: 100%;
  width: 75%;
}



th {
  border-right: solid 1px #66FCF1;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #46A29F;
}

.seachinput
{
    position: relative;
}

form
{
    padding: 0;
}

#NameSearch
{
    position: absolute;
    left: 16px;
    top: 50px;
}

#SecondSearchBar form
{
    position: relative;
    height: 150px;
}

#SecondSearchBar form input
{
    width: 50%;
    margin-left: 10px;
    margin-bottom: 5px;
}

#SearchContent form label
{
    margin-left: 100px;
}*/
