<div id="wrapper" class="jumbotron">
  <div id="SearchBar" class="navsearch">
    <h1 class="display-4">Información de la Rama Científica</h1>
    <nav id="NavSearchBar" class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2 seachinput" type="search" placeholder="Código" aria-label="Search">
        <br />
        <input id="NameSearch" class="form-control mr-sm-2 seachinput" type="search" placeholder="Nombre" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        <button id="btnClear" class="btn">Clear</button>
      </form>
    </nav>
  </div>
  <!--<div id="SearchBar" class="navsearch">
    <h1 class="display-4">Búsqueda de proyecto</h1>
    <nav id="NavSearchBar" class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2 seachinput" type="search" placeholder="Código" aria-label="Search">
        <br />
        <input id="NameSearch" class="form-control mr-sm-2 seachinput" type="search" placeholder="Nombre" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        <button id="btnClear" class="btn">Clear</button>
      </form>
    </nav>
  </div>-->
  <div id="SecondSearchBar">
    <h1 class="display-4">Solo búsqueda</h1>
    <br />
    <form>
      <div class="form-group">
        <!--<label>Código de la rama científica</label>-->
        <input type="text" class="form-control" />
        <!--<br />-->
        <!--<label>Nombre de la rama científica</label>-->
        <input type="text" class="form-control"/>
      </div>
    </form>

  </div>
  <div id="SearchContent">
    <div id="ContentDiv">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Proyecto</th>
          </tr>
        </thead>
      </table>
    </div>
    <div id="FuctionDiv">

    </div>
  </div>
</div>
