label {
    width: 150px;
}

form {
    margin-top: 25px;
}

#SearchBtn {
  margin-left: 25%;
  margin-right: 25%;
}



select {
    display: flex;
    margin-left: 0.1cm;
    background-color: rgba(0, 0, 0, 0)!important;
    border: solid 1px red;
  }
  
  select:focus {
    background-color: rgba(0, 0, 0, 0)!important;
    outline: none;
    box-shadow: none;
    border: solid 1px red;
  }
  
  select:active {
    background-color: rgba(0, 0, 0, 0)!important;
    outline: none;
    box-shadow: none;
    border: solid 1px red;
  }

.input-group {
    width: 50%;
}

.input-group:focus {
    outline: none;
    box-shadow: none;
}

.input-group:active {
    outline: none;
    box-shadow: none;
}

option {
    color: white;
}

input[type="text"] {
    margin-bottom: 10px;
}
