<nav class="navbar-brand navbar-light">
  <h1 id="TitleH1" class="lead">Dashboard</h1>
  <!--<hr />-->
  <ul class="navbar-nav">
    <li routerLink="/home" routerLinkActive="active" class="nav-item">
      <span>
        <a class="nav-link">Inicio</a>
      </span>
    </li>
    <li routerLink="/main" routerLinkActive="active" class="nav-item">
      <span>
        <a class="nav-link">Proyectos</a>
      </span>
    </li>
    <li routerLink="/rama_cientifica" routerLinkActive="active" class="nav-item">
      <span>
        <a class="nav-link">Rama científica</a>
      </span>
    </li>
    <li routerLink="/TiposConsecutivos" routerLinkActive="active" class="nav-item">
      <span>
        <a class="nav-link">Tipo de Consecutivos</a>
      </span>
    </li>
    <li routerLink="/consecutivos" routerLinkActive="active" class="nav-item">
      <span>
        <a class="nav-link">Consecutivos</a>
      </span>
    </li>
    <li routerLink="/roles" routerLinkActive="active" class="nav-item">
      <span>
        <a class="nav-link">Roles</a>
      </span>
    </li>
    <li routerLink="/puestos" routerLinkActive="active" class="nav-item">
      <span>
        <a class="nav-link">Puestos</a>
      </span>
    </li>
    <li routerLink="/usuarios" routerLinkActive="active" class="nav-item">
      <span>
        <a class="nav-link">Usuarios</a>
      </span>
    </li>
    <li routerLink="/bitacora" routerLinkActive="active" class="nav-item">
      <span>
        <a class="nav-link">Bitácora</a>
      </span>
    </li>
    <li routerLink="/errores" routerLinkActive="active" class="nav-item">
      <span>
        <a class="nav-link">Errores</a>
      </span>
    </li>
    <li routerLink="/bitacora_experimental" routerLinkActive="active" class="nav-item">
      <span>
        <a style="font-size: 11pt" class="nav-link">Bitácora experimental</a>
      </span>
    </li>

    <li id="TDateDisplay" class="nav-item">
      <h1 id="Time" class="lead"></h1>
      <h1 id="Date" class="lead"></h1>
    </li>
  </ul>
</nav>

<!--<nav id="NavoBar" class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Bitácora Científica</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a routerLink="/home" routerLinkActive="active" style="color: white;" class="nav-link">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">Buscar</button>
          <div class="dropdown-content">
            <a routerLink="/rama_cientifica" routerLinkActive="active" class="nav-link">Buscar por rama científica</a>
            <a routerLink="/codigo" routerLinkActive="active" class="nav-link">Buscar por código</a>
            <a routerLink="/consecutivos" routerLinkActive="active" class="nav-link" href="#">Consecutivos</a>
            <a routerLink="/roles" routerLinkActive="active" class="nav-link" href="#">Roles</a>
            <a routerLink="/puestos" routerLinkActive="active" class="nav-link" href="#">Puestos</a>
            <a routerLink="/usuarios" routerLinkActive="active" class="nav-link" href="#">Usuarios</a>
            <a routerLink="/bitacora" routerLinkActive="active" class="nav-link" href="#">Bitácora</a>
            <a routerLink="/errores" routerLinkActive="active" class="nav-link" href="#">Errores</a>
            <a routerLink="/bitacora_experimental" routerLinkActive="active" class="nav-link" href="#">Bitácora experimental</a>
          </div>
        </div>
      </li>
      <li id="LoginItem" class="nav-item">
        <a routerLink="/login" routerLinkActive="active" class="nav-link"><i class="fas fa-sign-in-alt"></i></a>
      </li>
    </ul>
  </div>
</nav>-->
