<div id="wrapper">
  <div id="container">
    <!--<img src="https://4.bp.blogspot.com/-Y4n3-3Ishzs/Vl9p2arpqEI/AAAAAAAAQeQ/FPoH3FO7cdY/s1600/logo_ulacit.png"/>-->
    <section>
      <h1>BITÁCORAS CIENTÍFICAS</h1>
      <h3>¡Bienvenidos!</h3>
    </section>
  </div>
  <!--<div id="container" class="jumbotron">
    <div id="SearchBar">
      <h1 class="display-4">Solo búsqueda</h1>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Código" />
          <button class="btn">AAA</button>
          <br />
          <input type="text" class="form-control" placeholder="Nombre" />
          <button class="btn">ABC</button>

        </div>
      </form>
    </div>
    <div id="SearchContent" class="jumbotron">
      <div id="ContentTable" class="jumbotron">
        <table class="table">
          <thead>
            <tr>
              <th>Código</th>
              <th>Proyecto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Row 1- A</td>
              <td>A</td>
            </tr>
            <tr>
              <td>Row 2- A</td>
              <td>A</td>
            </tr>
            <tr>
              <td>Row 3- A</td>
              <td>A</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div id="ButtonSection" class="jumbotron">
        <p style="color: white;">Aquí botones</p>
      </div>

    </div>
  </div>-->
</div>

<!--<div id="wrapper">
  <div id="TopBdy" class="jumbotron bodyhalf">
    <h1 class="display-4">Sitio de publicación de bitácoras scientíficas </h1>
    <h3 class="lead">¡Bienvenidos!</h3>
    <br />
    <img src="../../assets/img/output_4V784B.gif"/>
  </div>
  <div id="BtmBody" class="jumbotron bodyhalf">
    <a routerLink="/main" routerLinkActive="active"><button id="TEST" class="btn">Ver bitácoras <i class="fas fa-caret-right"></i></button></a>
  </div>
</div>-->
