<div id="wrapper">
  <div id="container">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4 sectionTitle">Búsqueda</h1>
          <form>
            <div class="form-group">
              <label>Código del tipo de consecutivo</label>
              <input type="text" class="form-control" />
              <button class="btn"><i class="fas fa-search"></i></button>
              <label>Nombre del tipo de consecutivo</label>
              <input type="text" class="form-control" />
              <button class="btn"><i class="fas fa-eraser"></i></button>
            </div>
          </form>
        </div>
        <div class="col">
          <form>
            <div class="form-group">
              <label style="width: 90px;">Descripción</label>
              <input type="text" class="form-control" />
              <button class="btn"><i class="fas fa-search"></i></button>
              <button class="btn"><i class="fas fa-eraser"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="row content">
        <div class="col tables">
          <table class="table">
            <thead>
              <tr>
                <th>Código</th>
                <th>Proyecto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Row 1- A</td>
                <td>A</td>
              </tr>
              <tr>
                <td>Row 2- A</td>
                <td>A</td>
              </tr>
              <tr>
                <td>Row 3- A</td>
                <td>A</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
<!--<div id="wrapper">
  <div id="container">
    <div id="header">
      <div id="SearchLeft" class="searchbars">
        <h1 class="display-4">Solo búsqueda</h1>
        <form>
          <div class="form-group">
            <input class="form-control" placeholder="Codigo del tipo consecutivo" />
            <button class="btn"><i class="fas fa-search"></i></button>
            <input class="form-control" placeholder="Nombre del tipo consecutivo" />
            <button class="btn">Cancel</button>
            <br />
          </div>
        </form>
      </div>
      <div id="SearchRight" class="searchbars">
        <form>
          <div class="form-group">
            <input class="form-control" placeholder="Codigo del tipo consecutivo" />
            <button class="btn">Cancel</button><button class="btn">Cancel</button>
            <br />
          </div>
        </form>
      </div>
    </div>
    <div id="content">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1- A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 2- A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 3- A</td>
            <td>A</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->
