@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

form {
    margin-top: 25px;
}

#Bottom {
    position: absolute;
    width: 36.7%;
    top: 390px;

}

label {
    width: 175px;
}