<div id="wrapper">
  <div id="container">
    <div class="container">
      <div class="row" style="width:50%; float: left; margin-right: 0px;">
        <div class="col">
          <h1 class="display-4 sectionTitle">Información</h1>
          <form>
            <div class="form-group">
              <div class="row">
                <label>Código rol</label>
                <input type="text" class="form-control" readonly placeholder="Código"/>
              </div>
              <div class="row">
                <label>Nombre</label>
                <input type="text" class="form-control" />
              </div>
              <div class="row">
                <label style="float: left; margin-right: 5px;">Detalle</label>
                <textarea class="form-control txtarea" rows="5" id="comment"></textarea>
              </div>  
              <!--<br />-->
              <div class="row">
                <button class="btn" style="width: 100%; margin: 5px 0px 5px 0px;"><i class="fas fa-eraser"></i></button>
                <button class="btn"><i class="fas fa-plus"></i></button>
                <button class="btn"><i class="fas fa-sync"></i></button>
              </div>              
            </div>
          </form>
        </div>
        <!--<div class="col tables">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Proyecto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1- A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 2- A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 3- A</td>
            <td>A</td>
          </tr>
        </tbody>
      </table>
    </div>-->
      </div>
      <!--  -->
      <div class="row" style="width: 50%; height: 80vh">
        <div class="col tables">
          <table class="table">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nombre rol</th>
                <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Row 1- A</td>
                <td>A</td>
                <td>A</td>
              </tr>
              <tr>
                <td>Row 2- A</td>
                <td>A</td>
                <td>A</td>
              </tr>
              <tr>
                <td>Row 3- A</td>
                <td>A</td>
                <td>A</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="Bottom" class="row">
        <h1 class="display-4 sectionTitle">Búsqueda</h1>
        <div class="col">
          <form>
            <div class="form-group">
              <div class="row">
                <label>Código</label>
                <input type="text" class="form-control" />
              </div>
              <div class="row">
                <label>Nombre</label>
                <input type="text" class="form-control" />
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<!--<div id="wrapper">
  <div id="container">
    <div id="Top" class="sideDivs contentdivs">
      <h1 class="display-4">Información de los roles</h1>
      <form>
        <div class="form-group">
          <input class="form-control" placeholder="Código Rol" />
          <input class="form-control" placeholder="Nombre" />
          <textarea class="form-control" rows="5" id="comment" placeholder="Detalle"></textarea>
          <button id="one" class="btn"><i class="fas fa-search"></i></button>
          <button class="btn">Clear</button>
          <button class="btn"><i class="fas fa-eraser"></i></button>
        </div>
      </form>
    </div>
    <div id="Bottom" class="sideDivs contentdivs">
      <h1 class="display-4">Solo búsqueda</h1>
      <form>
        <div class="form-group">
          <label>Código del rol</label>
          <input class="form-control" />
          <br />
          <label>Nombre del rol</label>
          <input class="form-control" />

        </div>
      </form>
    </div>
    <div id="Right" class="contentdivs">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre del rol</th>
            <th>Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1- A</td>
            <td>A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 2- A</td>
            <td>A</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Row 3- A</td>
            <td>A</td>
            <td>A</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->
