<div id="wrapper">
  <div id="container" class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4 sectionTitle">{{ 'Proyectos' | translate }}</h1>
        <form [formGroup]="FormularioProyectos" (ngSubmit)="InsertProyecto()">
          <div class="form-group">
            <input type="text" class="form-control"  formControlName="bcProyectoId"/>
            
            <br />
            <input type="text" class="form-control" formControlName="nombre"/>
            
            <br>
            <select class="form-control col-md-3" formControlName="bcRamaCientificaId">
              <option *ngFor="let ramasActuales of ListaRamasCientificas" [ngValue]="ramasActuales.bcRamaCientificaId">{{ramasActuales.bcRamaCientificaId}}</option>
            </select>
            <br>
            <button class="btn" [disabled]="FormularioProyectos.invalid">{{ 'btnAñadir' | translate }}</button>
            <button class="btn" (click)="DeleteProyecto()">{{ 'btnBorrar' | translate }}</button>
          </div>
        </form>
      </div>
      <!--<div class="col">
        <h1 class="display-4 sectionTitle">Title</h1>
      </div>-->
    </div>
    <div class="row third">
      <div class="col">
        <h1 class="display-4 sectionTitle">Title</h1>
      </div>
    </div>
    <div class="row content">
      <div class="col tables">
        <table class="table">
          <thead>
            <tr>
              <th>{{ 'RamaCientifica' | translate }}</th>
              <th>{{ 'Codigo' | translate }}</th>
              <th>{{ 'Proyectos' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let proyectoActual of ListaProyectos">
              <td>{{proyectoActual.bcRamaCientificaId}}</td>
              <td>{{proyectoActual.bcProyectoId}}</td>
              <td>{{proyectoActual.nombre}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="col">

      </div>
    </div>

    <!--<div class="tophalves"></div>
    <div class="tophalves"></div>
    <div class="content"></div>-->
  </div>
</div>



<!--<div id="wrapper">
  <div id="container" class="jumbotron">
    <div id="SearchBar">
      
    </div>
    <div id="SearchContent" class="jumbotron">
      <div id="ContentTable" class="jumbotron">
        

      </div>
      <div id="ButtonSection" class="jumbotron">
        <p style="color: white;">Aquí botones</p>
      </div>

    </div>
  </div>
</div>-->


<!--<div id="wrapper" class="jumbotron">
  <div id="SearchBar">
    <h1 class="display-4">Búsqueda de proyecto</h1>
    <nav id="NavSearchBar" class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        <button id="btnClear" class="btn">Clear</button>
      </form>
    </nav>
  </div>
  <div id="SearchContent">
    <div id="ContentDiv">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Proyecto</th>
          </tr>
        </thead>
      </table>
    </div>
    <div id="FuctionDiv">

    </div>
  </div>
</div>-->
