<div id="wrapper">
  <div id="container">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4 sectionTitle">{{ 'DatosPersonales' | translate }}</h1>
          <form>
            <div class="form-group">
              <label>{{ 'Codigo' | translate }}</label>
              <input type="text" class="form-control" readonly />
              <br />
              <label class="subLabels">{{ 'Nombre' | translate }}</label>
              <input type="text" class="form-control" placeholder="Nombre" />
              <br />
              <label class="subLabels">{{ 'PrimerApellido' | translate }}</label>
              <input type="text" class="form-control" placeholder="Apellido" />
              <br />
              <label class="subLabels">{{ 'SegundoApellido' | translate }}</label>
              <input type="text" class="form-control" placeholder="Apellido" />
              <br />
              <label class="subLabels">{{ 'Telefono' | translate }}</label>
              <input type="tel" class="form-control" name="phone" pattern="[0-9]{4}-[0-9]{4}" placeholder="Teléfono">
            </div>
          </form>
        </div>
        <div class="col">
          <h1 class="display-4 sectionTitle">{{ 'DatosTecnicos' | translate }}</h1>
          <form>
            <div class="form-group">
              <label class="subLabels">{{ 'Login' | translate }}</label>
              <input type="text" class="form-control" />
              <br />
              <label class="subLabels">{{ 'Contraseña' | translate }}</label>
              <input type="text" class="form-control" />
              <br />
              <label class="subLabels">{{ 'ConfirmarContraseña' | translate }}</label>
              <input type="text" class="form-control" />
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form>
            <div class="form-group">
              <span id="RadioBtnSpan">
                <input type="checkbox" />
                <label class="radioLabel">{{ 'AdminSistema' | translate }}</label>
                <input type="checkbox" />
                <label class="radioLabel">{{ 'AdminSeguridad' | translate }}</label>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form>
            <div class="form-group">
              <label>{{ 'NivelAcademico' | translate }}</label>
              <input type="text" class="form-control" />
              <br />
              <label>{{ 'Puestos' | translate }}</label>
              <input type="text" class="form-control" />
              <br />
              <label>{{ 'CargarFirma' | translate }}</label>
              <input type="text" class="form-control" />
              <br />
              <label>{{ 'CargarFoto' | translate }}</label>
              <input type="text" class="form-control" />
            </div>
          </form>
          <div class="row">
            <div class="col" style="height: 150px;">
              <h1 class="display-4 sectionTitle">{{ 'CargarFoto' | translate }}</h1>
            </div>
            <div class="col" style="height: 150px;">
              <h1 class="display-4 sectionTitle">{{ 'CargarFirma' | translate }}</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <h1 class="display-4 sectionTitle">{{ 'Busqueda' | translate }}</h1>
            <form>
              <div class="form-group">
                <section class="FormSection">
                  <label>Código del Usuario</label>
                  <input type="text" class="form-control" />
                  <!--<br />-->
                  <label>Código del Usuario</label>
                  <input type="text" class="form-control" />
                </section>
                <br />
                <section class="FormSection">
                  <label>Código del Usuario</label>
                  <input type="text" class="form-control" />
                  <label>Código del Usuario</label>
                  <input type="text" class="form-control" />
                </section>
              </div>
            </form>

          </div>
          <div class="row">
            <div class="col tables">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ 'Codigo' | translate }}</th>
                    <th>{{ 'Nombre' | translate }}</th>
                    <th>{{ 'PrimerApellido' | translate }}</th>
                    <th>{{ 'SegundoApellido' | translate }}</th>
                    <th>{{ 'Login' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Row 1- A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a routerLink="/nivel_academico" routerLinkActive="active"><button class="btn" style="width: 100%">{{ 'NivelAcademico' | translate }}</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div id="wrapper">
  <div id="container">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4 sectionTitle">Datos</h1>
          <div class="row" style="margin-top: 12px;">
            <div class="col">

            </div>
            <div class="col">

            </div>
          </div>
        </div>

        <div class="col">
          <div class="row">
            <div class="col">
              <h1 class="display-4 sectionTitle">Búsqueda</h1>
              <form>
                <div class="form-group">
                  <label class="subLabels">Código</label>
                  <input type="text" class="form-control" />
                  <br />
                  <label class="subLabels">Nombre</label>
                  <input type="text" class="form-control" />
                  <br />
                  <label class="subLabels">Apodo</label>
                  <input type="text" class="form-control" />
                  <br />
                  <label class="subLabels">Privilegios</label>
                  <input type="text" class="form-control" />
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col tables">
              <table class="table">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Login</th>
                    <th>Tel</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Row 1- A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>Row 2- A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>Row 3- A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
