form {
    margin-top: 25px;
}
labelform {
  margin-top: 25px;
}

label {
  width: 95px;
}

#wrapper {
  height: auto;
  position: absolute;
  top: 0;
  height: 205%;
  left: 12%;
  width: 88%;
}

#container {
  height: auto;
  position: absolute;
  top: 65px;
  left: 5%;
  width: 90%;
}

input[type="radio"] {
  margin-right: 5px;
}

.radioLabel {
  padding: 5px;
  width: 155px;
}

#RadioBtnSpan {
  margin-left: 30%;
  margin-right: 30%;
  /*width: 5000px;*/
}

.sectionTitle {
  font-size: 14pt;
  margin-top: 10px;
}

.FormSection {
  height: auto;
  width: 135%;
}

  .FormSection input {
    /*float: left;*/
    width: 20%;
    margin-right: 10px;
  }

  .FormSection label {
    width: 165px;
  }

  a {
    width: 100%;
    margin: 10px;
  }