<div id="wrapper">
  <div id="container" class="jumbotron">
    <div id="SearchBar">
      <h1 class="display-4">Solo búsqueda</h1>
      <!--<br />-->
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Código" />
          <button class="btn">AAA</button>
          <br />
          <input type="text" class="form-control" placeholder="Nombre" />
          <button class="btn">ABC</button>

        </div>
      </form>
    </div>
    <div id="SearchContent" class="jumbotron">
      <div id="ContentTable" class="jumbotron">
        <table class="table">
          <thead>
            <tr>
              <th>Código</th>
              <th>Proyecto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Row 1- A</td>
              <td>A</td>
            </tr>
            <tr>
              <td>Row 2- A</td>
              <td>A</td>
            </tr>
            <tr>
              <td>Row 3- A</td>
              <td>A</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div id="ButtonSection" class="jumbotron">
        <p style="color: white;">Aquí botones</p>
      </div>

    </div>
  </div>
</div>


<!--<div id="wrapper" class="jumbotron">
  <div id="SearchBar">
    <h1 class="display-4">Búsqueda de proyecto</h1>
    <nav id="NavSearchBar" class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        <button id="btnClear" class="btn">Clear</button>
      </form>
    </nav>
  </div>
  <div id="SearchContent">
    <div id="ContentDiv">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Proyecto</th>
          </tr>
        </thead>
      </table>
    </div>
    <div id="FuctionDiv">

    </div>
  </div>
</div>-->
