<div id="wrapper" class="jumbotron">
  <div id="SearchBar">
    <h1 class="display-4">Búsqueda de proyecto</h1>
    <nav id="NavSearchBar" class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        <button id="btnClear" class="btn">Clear</button>
      </form>
    </nav>
    <!--<button id="btnClear" class="btn outsidebtn" type="button"><i class="fas fa-search"></i></button>
    <button class="btn outsidebtn" type="button">A</button>-->
  </div>
  <div id="SearchContent">
    <div id="ContentDiv">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Proyecto</th>
          </tr>
        </thead>
      </table>
    </div>
    <div id="FuctionDiv">

    </div>
  </div>
</div>
