nav {
  background-color: #F44336;
  /* background: #536976; fallback for old browsers 
  background: -webkit-linear-gradient(to right, #292E49, #536976);  Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0px 11px 21px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 11px 21px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 11px 21px 6px rgba(0,0,0,0.75);
}

nav a
{
    color: white;
    transition: color 300ms;
}

nav a:hover
{
    color: #222222!important;
}

nav .nav-link
{
    color: white;
}

.active
{
    color: white;
}
